:root {
    /* font-size */
   /* --body-font:   "Signika Negative", sans-serif; */
   --h1-size:40px;
   --h2-size:30px;
   --title-size:22px;
   --body-size:16px;
   --caption-size:14px;
   --detail-size:12px;

   /* colour */

   --main-color:#9bee98;
   --bg--main:#191919;
   --bg--sub:#3b3b3b;
   --bg--detail:#b7b7b7;
   --colour-white:white;

}

body{
    background-color: var(--bg--main);
}

.white-font{
    color: var(--colour-white);
}

.main-font {
    color: var(--main-color);
}

.black-font {
    color: var(--bg--main);
}

.h1-font {
    font-size: var(--h1-size);
}

.h2-font {
    font-size: var(--h2-size);
}

.title-font {
    font-size: var(--title-size);
}

.title-font-bold {
    font-size: var(--title-size);
    font-weight: bold;
}

.body-font {
    font-size: var(--body-size);
}

.body-font-bold {
    font-size: var(--body-size);
    font-weight: bold;
}

.caption-font {
    font-size: var(--caption-size);
}

.o-button {
    border-radius: 12px;
    background-color: var(--main-color);
}

.s-button, .sg-button {
    border-radius: 0px;
    border-color: var(--main-color);
    background-color: var(--bg-main-color);
    color: var(--colour-white);
    padding: 5px 25px;
}

.s-button:hover, .sg-button:hover {
    color: var(--bg--main);
    background-color: var(--main-color);
}

.sg-button,.sg-button-1 {
    min-width: 80%;
    padding: 5px 25px;
}

.sg-button-1 {
    border-color: var(--bg-main-color);
    background-color: var(--main-color);
    border-radius: 0px;
    color: var(--bg-main-color);
    padding: 5px 25px;
}

/*= img== */

img.poster-new {
    height: 170px;
    margin-top: 5px;
}

img.app {
    height: 24px;
}

img.poster-top {
    height: 220px;
    border-radius: 15px;
}

/*= navbar== */

.navbar.navbar-expand-lg {
    position: relative;
    transition: background-color 0.3s ease;
}

.nav {
    font-size: var(--title-size);
    display: block;
    padding: 20px;
    color: var(--main-color);
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
}

a.nav-link {
    color: var(--colour-white);
}

a.nav-link:hover {
    color: var(--main-color);
}

a.nav-link:active {
    color: var(--bg-main-color);
}

input.search {
    border-radius: 12px;
    border-color: var(--bg--sub);
    color: var(--bg--detail);
    background-color: var(--bg--sub);
    width:350px;
}

input.search:active, input.search:focus {
    background-color: var(--bg--sub);
    border-color: var(--bg--sub);
}

.form-input {
    display: inline-block;
    vertical-align: middle;

}


/*= section 1== banner */

.sec-1 {
    padding-top: 100px;
    margin-bottom: 50px;
}
.box-banner {
    padding-top: 5%;
    padding-left: 80px;
}

.line-text {
    display: flex;
    align-items: center;
    color: var(--main-color);
    font-size: 24px;
}



/*= section 2== new */

.sec-2 {
    padding-top: 30px;
    background-color: var(--colour-white);
}

.sec-2 .container-left {
    margin-left: calc(100% - 96%);
}

.box-new {
    border-radius: 20px;
    background-color: var(--bg--main);
}

.inside-box {
    padding: 10px;
}

.app-logo img {
    margin-top: 23px;
    padding-right: 10px;
}


.bookmark-icon {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1); /* Makes the white outline visible */
    cursor: pointer;
    transition: filter 0.3s;
}

.bookmark-icon.active {
    filter: brightness(0) saturate(100%) sepia(100%) hue-rotate(80deg) brightness(1.2) contrast(1); /* Green color */
}

/*= section 3== genre */

.sec-4 { 
    margin: 0px 50px;
}

.bookmark-icon-top {
    position: absolute; 
    top: 17px;
    right: 10px; 
    cursor: pointer;
    transition: transform 0.2s ease;
    z-index: 10; 
    width: 24px;
    height: 24px;
}


.title-item {
    display: flex;
    align-items: flex-end; 
    gap: 15px; 
    width: auto; 
    margin-top: 25px;
    margin-right: 25px;
}

.title-item-number {
    font-size: 80px;
    font-weight: 630;
    color: var(--bg--detail); 
    letter-spacing: -5px;
    line-height: 100%;
    flex-shrink: 0; 
    margin: 0; 
    padding: 0;
}

.title-item-link {
    display: block;
    text-decoration: none;
    position: relative;
    width: auto; 
}

figure {
    margin: 0;
    padding: 0;
    position: relative;
}

.poster-top {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; /* Rounded corners */
}

.imdb-rate {
    position: absolute;
    top: 17px;
    left: 15px;
    width: 33px;
    height: 33px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid var(--main-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: var(--detail-size);
    text-align: center;
}

.poster-title-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.55) 30%,
        rgba(0, 0, 0, 0.92) 100%
    );
    padding: 50px 10px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
}

.top-title {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
    padding: 3px 10px;
}

.entry-title {
    font-size: var(--body-size);
    color: var(--colour-white);
    line-height: 1.4;
}

