:root {
    /* font-size */
   /* --body-font:   "Signika Negative", sans-serif; */
   --h1-size:40px;
   --h2-size:30px;
   --title-size:22px;
   --body-size:16px;
   --caption-size:14px;
   --detail-size:12px;

   /* colour */

   --main-color:#9bee98;
   --bg--main:#191919;
   --bg--sub:#3b3b3b;
   --bg--detail:#b7b7b7;
   --colour-white:rgba(255,255,255);

}

body{
    background-color: var(--bg--main);
}

.white-font{
    color: var(--colour-white);
}

.main-font {
    color: var(--main-color);
}

.black-font {
    color: var(--bg--main);
}

.grey-font {
    color: var(--bg--detail);
}

.h1-font {
    font-size: var(--h1-size);
}

.h2-font {
    font-size: var(--h2-size);
}

.title-font {
    font-size: var(--title-size);
}

.title-font-bold {
    font-size: var(--title-size);
    font-weight: bold;
}

.body-font {
    font-size: var(--body-size);
}

.body-font-bold {
    font-size: var(--body-size);
    font-weight: bold;
}

.caption-font {
    font-size: var(--caption-size);
}

.o-button {
    border-radius: 12px;
    background-color: var(--main-color);
    font-size: var(--body-size);
}

.s-button, .sg-button {
    border-radius: 0px;
    border-color: var(--main-color);
    background-color: var(--bg-main-color);
    color: var(--colour-white);
    padding: 5px 25px;
}

.s-button:hover, .sg-button:hover, .o-button-1:hover, .o-button-2:hover {
    color: var(--bg--main);
    background-color: var(--main-color);
}


/* square-button-for-genre */
.sg-button,.sg-button-1 {  
    min-width: 80%;
    padding: 5px 25px;
}

.sg-button-1, .sg-button-2 {
    border-color: var(--bg-main-color);
    background-color: var(--main-color);
    border-radius: 0px;
    color: var(--bg-main-color);
    padding: 5px 25px;
}

.o-button-1, .o-button-2 {
    border-radius: 50px;
    border-color: var(--main-color);
    background-color: var(--bg--main);
    color: var(--colour-white);
    min-width: 180px;
    font-size: var(--caption-size);
    text-align: center;
    padding: 4px 0px;
}

.o-button-1:hover .watchlist {
    filter: drop-shadow(0 0 2px var(--bg--main)) brightness(0) saturate(100%);
}

.sg-button-2 {
    font-size: var(--detail-size);
    right: 10px;
    min-width: 150px ;
}

.o-button-2 {
    min-width: auto;
    padding: 5px 20px;
    margin-right: 5px;
}

.o-button-2.history {
    min-width: 150px;
    margin-top: 15px;
}

/*= img== */

img.poster-new {
    height: 170px;
    margin-top: 5px;
}

img.app {
    height: 24px;
}

img.poster-top {
    height: 220px;
    border-radius: 15px;
}

img.poster-genre {
    min-width: 170px;
    height: 250px;
    border-radius: 15px;
}

img.watchlist {
    height: 20px;
    margin-bottom: 1px;
}

img.more {
    height: 15px;
    margin-bottom: 2px;
}

img.poster-detail {
    height: 250px;
    margin-top: 20px;
    border-radius: 15px;
}

img.app-2 {
    height: 65px;
    margin-bottom: 10px;
}

img.poster-detail-box {
    height: 175px;
    border-radius: 15px;
    margin-top: 15px;
}

img.user-pic {
    max-width: 160px;
    border-radius: 50%;
    background-color: var(--bg--detail);
}

/*= navbar== */


.navbar.navbar-expand-lg {
    position: relative;
    background-color: var(--bg--main);
}

.nav {
    font-size: var(--title-size);
    display: block;
    padding: 20px;
    color: var(--main-color);
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
}

a.nav-link {
    color: var(--colour-white);
}

a.nav-link:hover {
    color: var(--main-color);
}

a.nav-link:active {
    color: var(--bg-main-color);
}

input.search {
    border-radius: 12px;
    border-color: var(--bg--sub);
    color: var(--bg--detail);
    background-color: var(--bg--sub);
    width:350px;
}

input.search:active, input.search:focus {
    background-color: var(--bg--sub);
    border-color: var(--bg--sub);
}

.form-input {
    display: inline-block;
    vertical-align: middle;

}


/*= section 1== banner */

.sec-1 {
    padding-top: 80px;
    margin-bottom: 50px;
}

.box-banner {
    padding-top: 5%;
    padding-left: 80px;
}

.line-text {
    display: flex;
    align-items: center;
    color: var(--main-color);
    font-size: 24px;
}



/*= section 2== new */

.sec-2 {
    padding-top: 30px;
    background-color: var(--colour-white);
}

.sec-2 .container-left {
    margin-left: calc(100% - 96%);
}

.box-new {
    border-radius: 20px;
    background-color: var(--bg--main);
}

.inside-box {
    padding: 10px;
}

.app-logo img {
    padding-right: 10px;
}



/* ----------start modal sign in--------------- */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 999;
}

.popup-sign-p {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    width: 100%;
    max-width: 800px;  /* Max width for better scaling */
    padding: 25px 35px;
    background-color: var(--bg--main);
    border-radius: 15px;
    z-index: 10000;
    opacity: 0;
    display: none;
    transition: opacity 0.3s, transform 0.3s;
}

.popup-sign-p.active {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.close-btn-sign {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 32px;
    background: none;
    border: none;
    transition: color 0.3s ease;
}

.close-btn-sign:hover {
    color: var(--main-color);  /* Hover effect */
}

.social-sign {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}

.social-btn {
    width: 45px;
    height: 45px;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.social-btn:hover {
    background-color: var(--main-color);  /* Hover effect */
}

.social-btn svg {
    width: 24px;
    height: 24px;
    fill: var(--main-color);
}
.social-btn:hover svg {
    width: 24px;
    height: 24px;
    fill: var(--bg--main);
}

.title-sign {
    text-align: center;
    font-size: var(--h2-size);
    color: var(--colour-white);
    margin-top: 10px;
    margin-bottom: 25px;
}

.or-text {
    color: var(--colour-white);
    text-align: center;
    margin-bottom: 25px;
}

.form-element-sign {
    margin: 5px 0;
    width: 100%;

}

.form-element-sign input[type="email"],
.form-element-sign input[type="password"],
.form-element-sign input[type="text"],
.form-element-sign input[type="date"],
.form-element-sign select {
    width: 100%;/* Ensure responsiveness */
    padding: 12px;
    outline: none;
    border: 1px solid var(--bg--sub);
    border-radius: 10px;
    background-color: var(--bg--sub);
    display: flex;
    font-size: var(--caption-size);  /* Spacing between inputs */
}
.form-element-sign input[type="date"]{
    color: var(--bg--detail);
    font-size: var(--caption-size);
}

.form-element-sign label {
    margin-bottom: 5px;
    color: var(--colour-white);
    font-size: var(--caption-size);
}

.form-element-sign input::placeholder {
    color: var(--bg--detail);
}

.form-element-sign option, option:disabled {
    color: var(--bg--detail);
    font-size: var(--caption-size);
}

.form-element-sign[type="checkbox"] {
    margin-right: 10px;
    color: var(--colour-white);
}

.form-element-sign label[for="remember-me"] {
    color: var(--colour-white);
}

#signup-gender {
    color: var(--bg--detail);
    font-size: var(--caption-size);
}

.btn-sign {
    display: block;
    margin: 20px auto;
    width: 50%;
    height: 50px;
    border: 1px solid var(--main-color);
    font-size: var(--body-size);
    background-color: var(--bg--main);
    color: var(--colour-white);
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.btn-sign:hover {
    background-color: var(--main-color);
    color: var(--bg--main);
}

.forgetpassword {
    font-size: 12px;
    color: var(--main-color);
    font-weight: 600;
    margin-left: 5px;
}

.forgetpassword:hover {
    color: var(--main-color);
    text-decoration: underline;
}

.line-account {
    height: 0.1px;
    background-color: var(--colour-white);
    opacity: 0.2;
    margin: 15px 0;
}

.create-account {
    font-size: 12px;
    color: var(--colour-white);
    text-decoration: none;
    font-weight: 600;
    display: inline;
    text-align: center;
    margin-top: 10px;
}

.create-account a {
    color: var(--main-color);
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.active {
    display: block;
}


.input-wrapper {
    position: relative;
    width: 100%;
}

.date-input {
    width: 100%;
    max-width: 350px;
    padding: 12px 35px 12px 12px; /* Add extra padding on the right for the icon */
    outline: none;
    border: 1px solid var(--bg--sub);
    border-radius: 10px;
    background-color: var(--bg--sub);
    font-size: var(--caption-size);
    display: flex;
}

.date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.date-input:focus::-webkit-calendar-picker-indicator {
    color: var(--main-color); /* Optional: Change color when focused */
}

/* ----------End modal sign in--------------- */
.bookmark-icon {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 24px;
    height: 24px;
    color: #8b0000; /* สีเริ่มต้นของไอคอน */
    cursor: pointer;
    transition: color 0.3s ease; /* ใช้ transition สำหรับการเปลี่ยนสี */
}

.bookmark-icon.active {
    color: #4CAF50; /* สีเขียวเมื่อ active */
}

/*= section 3== genre */

.sec-4 { 
    margin: 0px 50px;
}

.bookmark-icon-top {
    position: absolute; 
    z-index: 10; 
    position: absolute;
    top: 20px;
    right: 12px;
    width: 24px;
    height: 24px;
    color: #8b0000; /* สีเริ่มต้นของไอคอน */
    cursor: pointer;
    transition: color 0.3s ease;
}
/* .fave{
    background: none;
    border: 0;
    padding: 0;
    width: 70px;
    height: 45px;
    background: url(https://res.cloudinary.com/shanomurphy/image/upload/v1547543273/fave_ltre0q.png) no-repeat;
    background-position: 0 0;
    transition: background 1s steps(55);
    outline: 0;
    cursor: pointer;
  }
  
  .fave.faved {
    background-position: -3519px 0;
  } */

  /* ปรับปรุงการทำงานของการแอนิเมชัน */
.btn-bookmark {
    position: absolute; 
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    z-index: 100;
    top: 5px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.4s ease; /* เพิ่มเวลาให้แอนิเมชันนุ่มนวลขึ้น */
}

.btn-bookmark .icon-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;  /* ป้องกันการแสดงผลในขณะที่หมุน */
    transition: transform 0.4s ease; /* ใช้เวลาเดียวกันกับการแอนิเมชัน */
}

.btn-bookmark .icon-container.second-icon {
    transform-origin: top;
    transform: rotateX(90deg);
}

.btn-bookmark .icon-container svg {
    width: 100%;
    height: 100%;
}

.btn-bookmark .icon-container .bookmark {
    fill: #FFF;
    stroke: #FFF;
    stroke-width: 3px;
}

.btn-bookmark .icon-container.second-icon .bookmark {
    fill: var(--main-color);
    stroke: var(--main-color);
}

.btn-bookmark:active .icon-container {
    transform: scale(0.98);
}


.title-item {
    display: flex;
    align-items: flex-end; 
    gap: 15px; 
    width: auto; 
    margin-top: 25px;
    margin-right: 25px;
}

.title-item-number {
    font-size: 80px;
    font-weight: 630;
    color: var(--bg--detail); 
    letter-spacing: -5px;
    line-height: 100%;
    flex-shrink: 0; 
    margin: 0; 
    padding: 0;
}

.title-item-link {
    display: block;
    text-decoration: none;
    position: relative;
    width: auto; 
}

figure {
    margin: 0;
    padding: 0;
    position: relative;
}

.poster-top {
    height: auto;
    display: block;
    border-radius: 10px; /* Rounded corners */
}

.imdb-rate {
    position: absolute;
    top: 17px;
    left: 15px;
    width: 33px;
    height: 33px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid var(--main-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: var(--detail-size);
    text-align: center;
}

.poster-title-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.55) 30%,
        rgba(0, 0, 0, 0.92) 100%
    );
    padding: 50px 10px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
}

.top-title {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
    padding: 3px 10px;
}

.entry-title {
    font-size: var(--body-size);
    color: var(--colour-white);
    line-height: 1.4;
}

/*= section 5== genre movie */

.genre-big {
    margin-top: 25px;
}

.genre-movie-item {
    margin-top: 25px;
    margin-left: 20px                         ;
}

.app-logo img {
    height: 25px;
    padding-right: 12px;
}


/*= section movie */

.movie-detail {
    margin: 90px 0px 60px 50px;
}

.custom-line {
    border: none;            
    border-top: 1px solid var(--colour-white); 
    margin-left: 0; 
}   

.vdo {
    margin-right: 30px;
}

.cast-box {
    font-size: var(--body-size);
    background-color: var(--main-color);
    color: var(--bg--main);
    border-radius: 10px;
    width: 180px;
    padding: 15px 18px;
    margin-right: 23px;
}

.detail-box {
    border-radius: 12px;
    border: 1px solid var(--main-color);
    padding: 20px;
    margin: 20px 35px 0px 5px;

}

/*= user== */

.user-box {
    margin-top: 90px;
    border-radius: 20px;
    background-color: var(--bg--main);
    border: 1px solid var(--main-color);
    color: var(--colour-white);
    padding: 40px 0px;
}

.user-info {
    margin: 30px 80px 0px;
}

.history-box {
    margin: 30px 50px 0px;
}

.history-topic {
    margin: 20px 0;
    position: relative;
}

.topic-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.circle-button {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
}

.star {
    font-size: 12px;
    color: var(--bg--main);
}




/*= footer== */

.a-footer {
    color: var(--main-color);;
}

.a-footer:hover {
    color: var(--main-color);;
}