<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>All Contents</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!----------------------------------------------------------- HEADER --------------------------------------------------------->
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
                <img src="/images/logo2.png" width="150px" height="33px">
            </a>
        </nav>
    </header>

    
    
    <!----- Section: Genres Filter ----->
    <section class="sec-3 mt-5 px-5 pt-4">
        <div class="row justify-content-between">
            <div class="col">
                <button 
                    class="btn <%= !selectedGenre ? 'sg-button-1' : 'sg-button' %> body-font" 
                    type="button"
                    onclick="window.location.href='/all-content'">
                    ALL
                </button>
            </div>
            <% sortedGenres.forEach((genre, index)=> { %>
                <% if ((index + 1) % 4 === 0) { %>
        </div>
        <div class="row justify-content-between mt-4">
            <% } %>
            <div class="col">
                <button 
                    class="btn <%= selectedGenre === genre ? 'sg-button-1' : 'sg-button' %> body-font" 
                    type="button"
                    onclick="window.location.href='/all-content?genre=<%= encodeURIComponent(genre) %>'">
                    <%= genre %>
                </button>
            </div>
            <% }) %>
        </div>
    </section>
    



    <!----- Section: Movies List ----->
    <section class="sec-5 sec-4">
        <div class="genre-big">
            <div class="row">
                <h2 class="h2-font white-font">Showing: <%= selectedGenre || "All Movies" %>
                </h2>
            </div>
            <div class="row">
                <% if (movies.length> 0) { %>
                    <% movies.forEach(movie=> { %>
                        <div class="col">
                            <div class="genre-movie-item">
                                <div class="row">
                                    <a href="/movie-detail?id=<%= movie._id %>">
                                        <img class="poster-genre"
                                            src="<%= Array.isArray(movie.poster_url) && movie.poster_url.length > 0 ? movie.poster_url[0] : '/images/default-poster.jpg' %>"
                                            alt="<%= movie.title %>">
                                    </a>
                                </div>
                                <div class="row mt-3">
                                    <span class="entry-title">
                                        <%= movie.title %>
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="entry-title">(<%= movie.year %>)</span>
                                </div>
                                <div class="row mt-3">
                                    <img class="app" src="/images/logo-imdb.png">
                                    <div class="caption-font white-font ml-2">
                                        <%= movie.rating_imdb && movie.rating_imdb !=='N/A' ? movie.rating_imdb
                                            + ' / 10' : 'N/A' %>
                                    </div>
                                    <img class="app ml-4" src="/images/logo-rotten.png">
                                    <div class="caption-font white-font ml-2">
                                        <%= movie.rating_rotten && movie.rating_rotten !=='N/A' ? movie.rating_rotten
                                            : 'N/A' %>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <button class="btn o-button-1" type="button">
                                        <img class="watchlist" src="/images/icon/bookmark2.png">
                                        WATCHLIST
                                    </button>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                            <% } else { %>
                                <p class="body-font white-font">No movies found for this genre.</p>
                                <% } %>
            </div>
        </div>
    </section>

    <script>
        function filterGenre(genre) {
            window.location.href = `/all-content?genre=${encodeURIComponent(genre)}`;
        }
    </script>
    <script src="/js/userActivity.js"></script>
         
    <script src="/js/actionbutton.js"></script>
</body>

</html>