<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>All Contents</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/result-page.css">
</head>

<body>
    <!-----------------------------------------------------------HEADER--------------------------------------------------------->
    <div id="overlay"></div>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <!-- Left Group: Logo + Desktop Menu -->
                <div class="d-flex align-items-center left-group">
                    <a class="navbar-brand" href="/">
                        <img src="/images/logo2.png" width="200" height="36" />
                    </a>
                    <!-- Desktop Menu Links -->
                    <ul class="navbar-nav d-none d-lg-flex ml-3">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/suggestion">Suggestion</a></li>
                    </ul>
                </div>

                <!-- Search Box -->
                <div class="search-container order-2 order-md-1 mx-auto">
                    <div class="search-box" onclick="expandSearch()">
                        <img src="/images/icon/search-icon.png" alt="Search" class="search-icon" />
                        <input type="text" class="search-input" placeholder="Search for a movie..."
                            onkeyup="searchMovies(this.value)" onfocus="showResults()" />
                    </div>
                    <div class="search-results" id="searchResults"></div>
                </div>
                <!-- Right Group: Hamburger + User Menu (Desktop) -->
                <div class="d-flex align-items-center right-group order-1 order-md-2">
                    <!-- Hamburger (Mobile only) -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
                        aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Desktop User Menu -->
                    <% if (!loggedIN) { %>
                        <button class="btn o-button ml-3 d-none d-lg-block" id="show-signin">Sign In</button>
                        <% } else { %>
                            <ul class="menu-right d-none d-lg-flex ml-3">
                                <li class="nav-item dropdown">
                                    <button class="nav-link dropbtn">
                                        <img src="/images/icon/user-fill.png" class="icon-green" />
                                        <span class="main-font">
                                            <%= loggedIN %>
                                        </span>
                                        <img src="/images/icon/drop-more.png" class="icon-green" />
                                    </button>
                                    <ul class="dropdown-content">
                                        <li><a class="nav-link" href="/user-profile">Edit Profile</a></li>
                                        <li><a class="nav-link" href="/logout">Sign out</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <% } %>
                </div>
            </div>

            <!-- Mobile Menu -->
            <!-- Mobile Menu -->
            <div class="collapse navbar-collapse d-lg-none text-center" id="navbarMenu">
                <ul class="navbar-nav mx-auto my-3 d-lg-none">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/suggestion">Suggestion</a></li>

                    <% if (!loggedIN) { %>
                        <li class="nav-item mt-2">
                            <button class="btn o-button ml-3 d-none d-lg-block" id="show-signin">Sign In</button>
                        </li>
                        <% } else { %>
                            <li class="nav-item dropdown mt-2">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                    <img src="/images/icon/user-fill.png" class="icon-green" />
                                    <span class="main-font">
                                        <%= loggedIN %>
                                    </span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/user-profile">Edit Profile</a>
                                    <a class="dropdown-item" href="/logout">Sign out</a>
                                </div>
                            </li>
                            <% } %>
                </ul>
            </div>

        </nav>
    </header>

    <!----- Section: Genres Filter ----->
    <section class="sec-3 mt-5 px-5 pt-4">
        <div class="row justify-content-between mt-5">
            <div class="col">
                <button class="btn <%= !selectedGenre ? 'sg-button-1' : 'sg-button' %> body-font" type="button"
                    onclick="window.location.href='/all-content'">
                    ALL
                </button>
            </div>
            <% sortedGenres.forEach((genre, index)=> { %>
                <% if ((index + 1) % 5===0) { %>
        </div>
        <div class="row justify-content-between mt-4">
            <% } %>
                <div class="col">
                    <button class="btn <%= selectedGenre === genre ? 'sg-button-1' : 'sg-button' %> body-font"
                        type="button"
                        onclick="window.location.href='/all-content?genre=<%= encodeURIComponent(genre) %>'">
                        <%= genre %>
                    </button>
                </div>
                <% }) %>
        </div>
    </section>




    <!----- Section: Movies List ----->
    <section class="sec-5 sec-4 mt-5">
        <div class="genre-big">
            <div class="row">
                <h2 class="h2-font white-font">Showing: <%= selectedGenre || "All Movies" %>
                </h2>
            </div>
            <div class="row">
                <% if (movies.length> 0) { %>
                    <% movies.forEach(movie=> { %>
                        <div class="col">
                            <div class="genre-movie-item">
                                <div class="row">
                                    <a href="/movie-detail?id=<%= movie._id %>">
                                        <img class="poster-genre"
                                            src="<%= Array.isArray(movie.poster_url) && movie.poster_url.length > 0 ? movie.poster_url[0] : '/images/default-poster.jpg' %>"
                                            alt="<%= movie.title %>">
                                    </a>
                                </div>
                                <div class="row mt-3">
                                    <span class="entry-title">
                                        <%= movie.title %>
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="entry-title">(<%= movie.year %>)</span>
                                </div>
                                <div class="row mt-3">
                                    <img class="app" src="/images/logo-imdb.png">
                                    <div class="caption-font white-font ml-2">
                                        <%= movie.rating_imdb && movie.rating_imdb !=='N/A' ? movie.rating_imdb
                                            + ' / 10' : 'N/A' %>
                                    </div>
                                    <img class="app ml-4" src="/images/logo-rotten.png">
                                    <div class="caption-font white-font ml-2">
                                        <%= movie.rating_rotten && movie.rating_rotten !=='N/A' ? movie.rating_rotten
                                            : 'N/A' %>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <button class="btn o-button-1" type="button">
                                        <img class="watchlist" src="/images/icon/bookmark2.png">
                                        WATCHLIST
                                    </button>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                            <% } else { %>
                                <p class="body-font white-font">No movies found for this genre.</p>
                                <% } %>
            </div>
        </div>
    </section>

    <script>
        function filterGenre(genre) {
            window.location.href = `/all-content?genre=${encodeURIComponent(genre)}`;
        }
    </script>
    <script src="/js/userActivity.js"></script>

    <script src="/js/actionbutton.js"></script>
</body>

</html>