.result {
    padding-top: 80px;
    margin-bottom: 50px;
    margin: 20px 80px;
}

.search-container {
    width: 800px;
    border-radius: 12px;
    padding: 8px 0px;
    position: relative;
}

.search-box {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 23px;
}

.search-input {
    width: 100%;
    padding: 10px 10px 10px 45px; 
    background: var(--bg--sub);
    border: none;
    color: var(--colour-white);
    font-size: 16px;
    border-radius: 12px;
    outline: none;
}

.search-results {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--bg--sub);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    z-index: 10;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}
  /* When expanded */
  .search-results.expanded {
    display: flex;
  }
  @media (max-width: 576px) {
    .search-container {
      flex: 1;
      z-index: 6;
      display: flex;
      align-items: center;
    }
  
    .search-box {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      padding: 0;
      cursor: pointer;
      margin-left: auto;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  
    .search-box.expanded {
      position: fixed;
      top: 30px;
      left: 10px;
      right: 10px;
      width: calc(100% - 20px);
      height: 50px;
      border-radius: 25px;
      padding: 0 15px;
      z-index: 7;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
    }
  
    .search-input {
      display: none;
      width: 100%;
      font-size: 1rem;
      margin-left: 10px;
      background: transparent;
      color: var(--colour-white);
      border: none;
      outline: none;
    }
  
    .search-box.expanded .search-input {
      display: block;
    }
    .search-results {
        position: fixed;
        top: 70px;
        left: 20px;
        right: 20px;
        width: calc(100% - 40px);
        max-height: 60vh;
        background-color: var(--bg--main);
        border-radius: 15px;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
        z-index: 6;
        padding: 15px;
        display: none;
        gap: 15px;
        flex-direction: column;
        transition: all 0.3s ease;
      }
    
      .search-results.expanded {
        display: flex;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 20px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
      }
  }
.result-item {
    display: flex;
    align-items: center;
    padding: 8px 3px 8px 18px;
    cursor: pointer;
    background: #444;
    transition: 0.3s;
}

.result-item:hover {
    background: var(--bg--de);
}

.result-item img {
    max-width: 50px;
    height: 55px;
    border-radius: 5px;
    margin-right: 10px;
}

.result-text {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.result-title {
    font-size: var(--body-size);
    color: var(--colour-white);
}


.result-year {
    font-size: var(--caption-size);
    color: var(--bg--detail);
}

.see-all {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: var(--bg--detail);
    cursor: pointer;
    border-top: 1px solid #555;
}

.see-all:hover {
    color: var(--colour-white);
}

.all-mov {
    color: var(--bg-main);
}

.all-mov:hover {
    color: var(--bg-main);
    border-color: var(--bg-main);
}

/* Menu Right */
.img-icon {
    display: inline-block !important;
    visibility: visible !important;
    width: 20px;
    margin-right: 5px;
}

.icon-green { 
    margin-right: 10px;
    margin-left: 10px;
    width: 20px;
}

ul.menu-right {
    margin: 0px;
    padding-left: 0px;
}

.menu-right .dropbtn {
    display: flex;
    color: var(--colour-white);
}

.dropbtn span {
    max-width: 100px;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

/* Dropdown in Nav-Bar */
.dropdown {
    position: relative;
    display: inline-block;
}

.nav-item {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Dropdown icon hover effect */
.nav-item.dropdown .img-icon.icon-pink {
    filter: drop-shadow(0px 100px 0 var(--font-dark));
    transform: translateY(-100px);
}

.nav-item.dropdown:hover .img-icon.icon-pink {
    filter: drop-shadow(0px 100px 0 var(--main-colur));
    transform: translateY(-100px);
}

/* Dropdown Button */
.dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
}

/* Dropdown Content */
.dropdown-content {
    border-radius: 10px;
    display: none;
    position: absolute;
    background-color: var(--bg--main);
    box-shadow: 0px 8px 16px 0px var(--grey);
    z-index: 1;
    min-width: 180px;
    right: 0px;
}

ul.dropdown-content {
    padding: 0px;
}

.dropdown-content a {
    color: var(--colour-white);
    font-size: var(--body-size);
    float: none;
    padding: 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-left: 5px;
}

/* ✅ Make Dropdown Items Green When Hover */
.dropdown-content a:hover {
    background-color: var(--main-color); 
    color: var(--bg--main) !important; 
    border-radius: 5px; 
}

/* Make Dropdown Icons Change to Black on Hover */
.dropdown-content a:hover img, .btn.o-button-2.history:hover .watchlist {
    filter: brightness(0) ;
}

/* Show Dropdown When Hovering */
.dropdown:hover .dropdown-content {
    display: block;
}

